.googleReview {
	padding: 1.5rem;
	background-color: rgba($gray-lighter, .5);
	border-bottom: var(--1px) solid $gray-lighter;

	@media #{$mq-sm-min} {
		padding: 2rem;
	}

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	.date {
		display: inline-block;
		background-color: $green;
		padding: .325rem .75rem;
		border-top-right-radius: .5rem;
		color: $white;
		font-weight: $bold;

		@media #{$mq-sm-min} {
			padding: .5rem 1rem;
			border-top-right-radius: 1rem;
		}
	}

	.title {
		display: block;
		margin: 1.25rem 0;

		@media #{$mq-sm-min} {
			margin: 1rem 0;
		}
	}

	.review {
		padding-right: .5rem;

		@media #{$mq-sm-min} {
			padding-right: 2rem;
		}
	}
}