.zoneTechnique {
    .blocks {
        .grid {
            .block {
                &:not(:last-child) {
                    margin-bottom: var(--smaller);

                    @media #{$mq-sm-min} {
                        display: block;
                        padding-bottom: var(--smaller);
                        border-bottom: var(--1px) solid $green;
                    }
                }

                .top {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;

                    @media #{$mq-sm-max} {
                        background-color: $gray-darker;
                        color: $white;
                        padding: var(--smallest);
                        gap: .5rem;
                        border-top-right-radius: 1rem;
                        display: inline-block;
                        width: 100%;
                    }

                    .zone {
                        @media #{$mq-sm-min} {
                            display: flex;
                            padding: 1rem 1.5rem .75rem 1.5rem;
                            border-top-right-radius: 2rem;
                        }

                        @media #{$mq-sm-max} {
                            font-family: $font-body;
                            display: block;
                            font-size: 1rem;
                            text-transform: uppercase;
                            margin-bottom: .5rem;
                        }
                    }

                    h3 {
                        @media #{$mq-sm-min} {
                            display: block;
                            transform: translateY(.15rem);
                            color: $green;
                        }
                    }
                }

                .left {
                    @media #{$mq-lg-max} {
                        margin-bottom: var(--smaller);
                    }

                    @media #{$mq-sm-max} {
                        margin-bottom: 1rem;
                    }

                    .desc {
                        display: block;
                        margin-bottom: 1rem;

                        @media #{$mq-xl-min} {
                            margin-bottom: 2rem;
                        }
                    }

                    ul {
                        @media #{$mq-xl-min} {
                            display: flex;
                            flex-direction: column;
                            gap: .5rem;
                        }
                    }
                }

                .middle {
                    background-color: $white;

                    img {
                        mix-blend-mode: multiply;

                        @media #{$mq-sm-max} {
                            display: block;
                            width: 20rem;
                            max-width: 75%;
                            margin: 0 auto 1rem auto;
                        }
                    }
                }

                .right {
                    display: flex;
                    align-items: center;

                    > div {
                        position: relative;
                        overflow: hidden;
                        display: block;
                        width: 100%;
                        aspect-ratio: 16 / 9;
                        border-radius: 1rem;
                        border-top-right-radius: 0;

                        @media #{$mq-md-min} {
                            border-radius: 2rem;
                            border-top-right-radius: 0;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover,
                            &:focus-visible {
                                &:before {
                                    opacity: .5;
                                }

                                .circle {
                                    transform: scale(1.1);
                                }
                            }

                            &:before {
                                content: '';
                                position: absolute;
                                z-index: 1;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: $black;
                                opacity: 0;
                                transition: .3s ease-in-out;
                            }

                            .circle {
                                position: relative;
                                z-index: 3;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 30%;
                                aspect-ratio: 1;
                                border-radius: 50%;
                                background-color: $green;
                                color: $white;
                                transition: .3s ease-in-out;

                                svg {
                                    width: 30%;
                                    height: 30%;
                                    transform: translateX(12%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}